:root {
    --accent: #2563eb;
    --block-bg--dark-: radial-gradient(#1c2634, #1e2835);
    --block-bg--light: #fff;
    --body-bg--dark: radial-gradient(circle at 0 0,#121827,#161f36);
    --body-bg--light: radial-gradient(circle at 0 0, #d6e8ff, #cadaff);
    --body-text--dark: #d1d5db;
    --body-text--light:rgb(75, 85, 99);
    --heading--dark: #e5e7eb;
    --heading--light:rgb(31, 41, 55);
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Typography */

body {
    color: var(--body-text--light);
    background: var(--body-bg--light);
    font-family: Montserrat, sans-serif;
    line-height: 1.5;
    font-size: clamp(1.6rem, 1.5vw, 2.0rem);
}

h1,h2,h3,h4,h5,h6 {
    color: var(--heading--light);
    margin: 0 0 3rem;
    font-weight: 700;
}

h1 {
    font-size: clamp(3.2rem, 8vw, 6.4rem);
    line-height: 1.1;
}

h2 {
    font-size: clamp(2.4rem, 6vw, 4.8rem);
    line-height: 1.2;
}

h3 {
    font-size: clamp(2.0rem, 4vw, 3.2rem);
    line-height: 1.3;
    margin-bottom: 1.5rem;
}

p {
    margin-top: 0;
}