/*
    styles.css
    Project: Deutsch_Moment
    Author: Milad Sarabi
    Purpose: Core styles for the DeutschMoment landing pages. Cleaned for GitHub publishing.
    Notes: Remove or secure any private keys before publishing. License: MIT.
*/

:root {
    --accent: hsl(0, 100%, 43%);
    --accent-darker: hsl(0, 55%, 8%);
    --accent-secondary:hsl(48, 100%, 50%);
    --accent-secondary-darker: hsl(48, 76%, 13%);
    
    /* DARK MODE */
    --bg: hsl(0 0 5%);
    --bg-lighter: hsl(0 0 10%);
    --bg-darker: hsl(0 0 0);
    --body-text: hsl(0 0% 95%);
    --body-text--mute: hsl(0 0% 70%);
    --heading: hsl(48 100% 50%);

    /* Shadows */
    --shadow-s: 
    inset 0 1px 2px #ffffff30, /* top highlight */
    0 1px 2px #00000030, /* dark shadow */
    0 2px 4px #00000015; /* soft shadow */

    --shadow-m:
    inset 0 1px 2px #ffffff50, /* top highlight */
    0 2px 4px #00000030, /* dark shadow */
    0 4px 8px #00000015; /* soft shadow */

    --shadow-l:
    inset 0 1px 2px #ffffff70, /* top highlight */
    0 4px 6px #00000030, /* dark shadow */
    0 6px 10px #00000015; /* soft shadow */
}

body.light {
    /* ACCENT COLORS */
    --accent-darker: hsl(0, 79%, 94%);
    --accent-secondary-darker: hsl(48, 100%, 90%);
    /* LIGHT MODE */
    --bg: hsl(0 0% 95%);
    --bg-lighter: hsl(0 0% 100%);
    --bg-darker: hsl(0 0% 90%);
    --bg-hover:  linear-gradient(
        to bottom, 
        hsl(0 0% 100%),
        hsl(0 0% 95%));
    --body-text: hsl(0 0% 5%);
    --body-text--mute: hsl(0 0% 30%);
    --heading: hsl(0 0% 0%);
}

*, *::after, *::before {
    box-sizing: border-box;
}

:focus:not(:focus-visible) {
    outline: none;
}


html {
    font-size: 62.5%;
}

/* Typography */

body {
    background: var(--bg-darker);
    color: var(--body-text);
    font-family: Montserrat, sans-serif;
    font-size: clamp(1.6rem, 1.5vw, 2.0rem);
    line-height: 1.5;
    min-height: 100vh;
    transition: color 0.4s ease, background .4s ease;
}

.heading {
    color: var(--heading);
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 0 3rem;
    font-weight: 700;
}

h1 {
    font-size: clamp(3.2rem, 8vw, 6.4rem);
    line-height: 1.1;
}

h2 {
    font-size: clamp(2.4rem, 6vw, 4.8rem);
    line-height: 1.2;
}

h3 {
    font-size: clamp(2.0rem, 4vw, 3.2rem);
    line-height: 1.3;
    margin-bottom: 1.5rem;
}

p {
    margin-top: 0;
}

/* links */

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

/* Lists */

ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
}

.list--horizontal {
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.list--vertical {
    gap: 1rem;
    flex-direction: column;
}

/* Buttons */

.btn {
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 1.5rem 2.5rem;
    border: 0;
    border-radius: 10px;
    transition: all .4s ease;
    outline: 0;
    text-wrap: nowrap;
    box-shadow: var(--shadow-s);
}

.btn:hover {
    box-shadow: var(--shadow-m);
}

.btn--accent {
    background-color: var(--accent);
    color: #fff;
}

.btn--accent:hover {
    background-color: hsl(0, 100%, 30%);
}

.btn--outline {
    background-color: transparent;
    border: 2px solid var(--accent);
    color: var(--accent);
}

.btn--outline:hover {
    background-color: var(--accent);
    color: #fff;
}

.btn--block {
    display: block;
    width: 100%;
}

/* Container & Blocks */

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.block {
    background: var(--bg-lighter);
    border-radius: 20px;
    padding: 1rem 2rem;
    text-align: center;
    box-shadow: var(--shadow-s);
    transition: box-shadow .3s ease;
}

.block:hover {
    box-shadow: var(--shadow-l);
}

.block--mute {
    background-color: var(--bg-darker);
}

/* Grid */

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 1000px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Inputs */

.input {
    background-color: var(--bg);
    border-radius: 8px;
    border: 1px solid hsl(0, 0%, 15%);
    caret-color: var(--heading);
    color: var(--body-text);
    font-size: 1.6rem;
    margin-bottom: 3rem;
    outline: 0;
    padding: 1.2rem 1.6rem;
    resize: vertical;
    transition: all .4s ease;
    width: 100%;
}

.input:hover {
    border-color: var(--accent); 
}

.input:focus {
    border-color: var(--accent-secondary);
    box-shadow: 0 0 0 3px rgba(255, 206, 0, 0.4); 
}

label {
    display: block;
    margin-bottom: .8rem;
    font-weight: 500;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}

/* Input Group */

.input-group {
    text-align: start;
}

@media screen and (min-width: 768px) {
    .input-row {
        display: flex;
        gap: 2rem;
    }
}

/* Contact Page */
#contact {
    display: none;
}

.contact {
    padding: 2rem;
    margin-top: 7rem;
    gap: 4rem;
}

.contact .block{
    background-color: var(--bg);
}

.contact__info {
    padding: 3rem;
    text-align: start;
}

.contact__info__title {
    margin-bottom: 4rem;
}

.info-item {
    display: flex;
    gap: 2rem;
    align-items: start;
    margin-bottom: 3rem;
    color: var(--body-text--mute);
}

.info-title {
    color: var(--heading);
    margin-bottom: 0;
}

.contact__form {
    padding: 3rem;
    margin-bottom: 3rem;
}

.contact__form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.social-links {
    margin-top: .8rem;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
}

.social-links a {
    transition: color .3s ease;
    color: var(--body-text);
    margin: 0 2rem 2rem 0;
}

.social-links a:hover {
    color: var(--accent);
}

@media screen and (min-width: 768px) {
    .contact {
        display: flex;
        justify-content: center;
        align-items: start;
    }
}

/* Course Card */

#courses {
    display: none;
}

.courses {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: dense; /* Crucial: Allows items to fill holes */
    gap: 2rem;
    justify-items: center;
    align-items: start;
}

.card {
    padding: 2rem;
    max-width: 300px;
    border: 2px solid var(--accent);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.card::before {
    content: '';
    display: block;
    position: absolute;
    height: 10px;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, 
    #000 33%, 
    var(--accent) 33% 66%, 
    var(--accent-secondary) 66%);
}

.card__header {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 2rem 0 0 2rem;
    font-size: 1.4rem;
    display: flex;
    flex: 20% 80%;
    gap: 2rem;
}

.card__icon-wrapper {
    width: 40px;
    height: 40px;
    background-color: var(--accent-darker);
    border-radius: 5px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent);
}

.card__level {
    font-size: 1.8rem;
    display: inline;
}

.card__details .btn {
    text-wrap: wrap;
    line-height: 1.3;
}

.card__badge {
    background-color: var(--accent-secondary-darker);
    padding: .5rem 1rem;
    border-radius: 5px;
    color: var(--accent-secondary);
    font-family: 'Roboto',sans-serif;
    margin-left: 1rem;
    text-wrap: nowrap;
}

.light .card__badge {
    color: var(--body-text);
}

.card__subtitle {
    margin-top: .8rem;
    color: var(--body-text--mute);
}

.card__stats {
    display: flex;
    padding: 0 2rem;
    align-items: center;
    gap: 4rem;
    margin-bottom: 2rem;
}

.course-stat {
    display: flex;
    gap: 2rem;
    align-items: center;
    color: var(--accent-secondary);
}

.course-stat__info {
    display: flex;
    flex-direction: column;
}

.course-stat__label {
    font-size: 1.4rem;
    color: var(--body-text--mute);
}

.course-stat__value {
    font-size: 1.6rem;
    color: var(--body-text);
}

.card__details {
    border-top: 1px solid hsl(0, 0%, 30%);
    margin-top: 2rem;
    font-size: 1.4rem;
    height: 0;
    opacity: 0;
    transition: all .4s ease;
}

.card__details--active {
    padding: 2rem 0;
    height: 100%;
    opacity: 1;
}

.card__details .heading {
    color: var(--accent);
    font-size: 1.6rem;
    font-weight: 600;
}

.course-objectives {
    padding-left: 2rem;
}

.course-objectives li {
    padding-left: .4rem;
}

.course-objectives li::marker {
    content: '✓ ';
    color: var(--accent-secondary);
    font-weight: bold;
}

.course-topics .block {
    text-align: start;
    border-radius: 10px;
}

.course-includes {
    padding-left: 2rem;
}

.course-includes li {
    padding-left: 1rem;
}

.course-includes li::marker {
    content: '●';
    color: var(--accent-secondary);
}

@media screen and (min-width: 660px) {
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    .courses {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Nav Bar */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.nav .container {
    align-items: center;
    background: var(--bg);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .5rem 1rem;
}

.logo {
    align-items: center;
    color: #fff;
    cursor: pointer;
    display: flex;
    gap: 1rem;
}

.logo-icon-wrapper {
    width: 50px; 
    height: 50px;
}

.logo-icon-wrapper > img {
    width: 100%;
    object-fit: cover;
}

.logo-line {
    font-size: 2.4rem;
    display: block;
    font-weight: 700;
    line-height: 1;
}

.logo-line:first-child {
    color: var(--accent-secondary);
}
.light .logo-line:first-child {
    color: var(--body-text);
}

.logo-line:last-child {
    color: var(--accent);
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#dark-mode {
    background: var(--bg-lighter);
    border-radius: 10px;
    box-shadow: var(--shadow-s);
    padding: .5rem;
    width: 40px;
    height: 40px;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--body-text);
    cursor: pointer;
}

#dark-mode:hover {
    box-shadow: var(--shadow-l);
}

.toggler-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-toggler {
    width: 40px;
    fill: var(--body-text);
    opacity: .5;
    height: 40px;
    transition: .5s ease;
}

.menu-toggler:hover {
    opacity: 1;
}

.nav ul {
    width: 100%;
    overflow: hidden;
    margin: 1rem 0 0;
    transition: height .5s ease, opacity .5s ease;
}

.nav li {
    text-align: end;
    width: 100%;
    transition: all .5s ease;
    padding: .8rem 1rem;
    border-radius: 5px;
    color: var(--body-text);
}

.nav li:hover {
    background-color: var(--bg-hover);
}

.collapsible {
    height: 0;
    opacity: 0;
}

.collapsible--active {
    height: 100%;
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .buttons-container {
        order: 3;
    }
    .menu-toggler {
        display: none;
    }

    .nav ul {
        width: auto;
        flex-direction: row;
        height: auto;
        opacity: 1;
        margin: 0;
    }

    .nav li {
        position: relative;
        width: auto;
    }

    .nav li::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--accent);
        transform-origin: center;
        transition: transform 0.3s ease-out;
    }

    .nav li:hover::after {
        transform: scaleX(1);
    }

    .nav li.link-active::after {
        transform: scaleX(1);
    }
}

/* Homepage Hero Section */

#home {
    display: block;
}

.block-hero {
    margin-top: 10rem;
    text-align: center;
    padding: 1rem;
}

.block-hero.grid {
    gap: 2rem;
    justify-items: center;
}

.hero__description {
    max-width: 800px;
    margin: 0 auto 3rem;
}

.hero-image-wrapper {
    max-width: 800px;
    overflow: hidden;
}

.hero-banner {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

/* About Section */

.about-section {
    margin-top: 10rem;
    text-align: start;
    padding: 2rem;
}

.about-section.grid {
    gap: 2rem;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-family: 'Roboto', sans-serif;
}

.stat-card {
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}

.stat-card__number {
    font-size: 2.4rem;
    color: var(--accent);
    font-weight: 700;
}

.stat-card__label {
    font-size: 1.4rem;
    margin-bottom: 0;
    font-weight: 500;
}

.instructor-card {
    padding: 2rem;
}

.profile-img {
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.bio {
    font-size: 1.4rem;
}

/* Features */

.featured {
    text-align: center;
    padding: 2rem;
}

.features-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.feature__icon {
    font-size: 3.6rem;
    margin-bottom: 1rem;
}

.feature .heading {
    margin-bottom: 1rem;
}

.feature__desc {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

/* Course Page */

#courses-page {
    display: none;
}

.courses-heading {
    margin-top: 7rem;
    text-align: center;
}

/* Courses Hero */ 

.courses-hero {
    background: linear-gradient(to right,
     rgba(0, 0, 0, .8) 55%, 
     rgba(128, 0, 0, 0.4) 100%),
     url('../img/building-with-columns.webp') center top / cover no-repeat;
    color: hsl(0, 0%, 100%);
    padding: 4rem 2rem;
    text-align: center;
    margin-top: 7rem;
}

.light .courses-hero {
    background: linear-gradient(to right, 
        rgba(0, 0, 0, .6) 55%,
        rgba(128, 0, 0, 0.4) 100%),
     url('../img/building-with-columns.webp') center top / cover no-repeat;
}

.courses-hero h1 {
    letter-spacing: -2%;
}

.courses-hero .subheading {
    color: var(--accent-secondary);
    font-weight: 500;
    font-size: clamp(2.0rem, 4vw, 3.2rem);
    letter-spacing: -1.5%;
}

.courses-hero p {
    max-width: 700px;
}

@media screen and (min-width: 768px) {
    .courses-hero {
        text-align: start;
    }
}